/* @import url('./reset.css');
@import url('./vars.css');
@import url('./fonts.css');
@import url('./global.css');
@import url('./parts.css');
@import url('./adaptive.css');
@import url('./iconfont-animation.css'); */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button, [class$='button'] {
    cursor: pointer;
    font-size: inherit;
}
img {
    max-width: 100%;
    max-height: 100%;
}
@font-face {
  font-family: 'fontello';
  src: url('../fonts/iconfont.woff2?11176276') format('woff2'),
       url('../fonts/iconfont.woff?11176276') format('woff');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-chat:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone-circle:before { content: '\e802'; } /* '' */
.icon-angle-down:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-angle-up:before { content: '\e806'; } /* '' */
.icon-cross:before { content: '\e807'; } /* '' */
.icon-loupe:before { content: '\e808'; } /* '' */
.icon-upload:before { content: '\e809'; } /* '' */
.icon-resize-full:before { content: '\e80a'; } /* '' */
.icon-resize-small:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e80c'; } /* '' */
.icon-basket:before { content: '\e80d'; } /* '' */
.icon-reload:before { content: '\e80e'; } /* '' */
.icon-download:before { content: '\e80f'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-heart-empty:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-star-empty:before { content: '\e814'; } /* '' */
.icon-check:before { content: '\e815'; } /* '' */
.icon-location:before { content: '\e816'; } /* '' */
.icon-unlock:before { content: '\e817'; } /* '' */
.icon-lock:before { content: '\e818'; } /* '' */
.icon-th-list:before { content: '\e819'; } /* '' */
.icon-attach:before { content: '\e81a'; } /* '' */
.icon-eye:before { content: '\e81b'; } /* '' */
.icon-eye-off:before { content: '\e81c'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-bag:before { content: '\f290'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */

/* main */
:root {
    --primary: #5CB1D4;
    --primary-lighten: #A7D1E6;
    --primary-darken: #0277bd;
    --primary-opsy: rgba(92, 176, 212, 0.2);
    --accent: #d32f2f;
    --accent-opsy: rgba(211, 47, 47, 0.2);
    --accent-opsy-7: rgba(211, 47, 47, 0.7);
    --accent-opsy-8: rgba(211, 47, 47, 0.8);
    --black: #000;
    --black-opsy: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --white-opsy: rgba(255, 255, 255, 0.5);
    --white-opsy: rgba(255, 255, 255, 0.5);
    --grey: #ccc;
    --danger: #d32f2f;
    --danger-opsy: rgba(220, 231, 117, 0.2);
    --header-h: 60px;
    --bg-gradient: linear-gradient( 45deg, hsl(0deg 0% 100%) 0%, hsl(201deg 55% 96%) 11%, hsl(201deg 55% 92%) 22%, hsl(201deg 55% 87%) 33%, hsl(200deg 56% 83%) 44%, hsl(200deg 56% 79%) 56%, hsl(199deg 56% 74%) 67%, hsl(199deg 57% 70%) 78%, hsl(198deg 57% 65%) 89%, hsl(198deg 58% 60%) 100% );

    --radius: 8px;
    --radius-sm: 4px;
    --section-padding: 20px;
    --font-xxl: 30px;
    --font-xl: 22px;
    --font-lg: 20px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;
    --shadow: 0px 0px 8px 6px rgba(34, 60, 80, 0.5);
    --shadow-active: 0px 0px 8px 4px rgba(34, 60, 80, 0.5);

    --transition: all 300ms ease;
    --speed: 300ms ease;
}
html, body {
    height: 100%;
}
body {
    font-size: var(--font-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header, .footer {
    flex-shrink: 0;
}
main {
    padding-top: 0;
    padding-bottom: var(--header-h);
}
.section {
    padding: var(--section-padding) 0;
}
.section__title {
    font-size: var(--font-lg);
    text-align: center;
    padding-bottom: var(--section-padding);
}
.section__header {
    padding-bottom: calc(var(--section-padding) / 2);
    margin-bottom: calc(var(--section-padding) / 2);
    border-bottom: 2px solid var(--primary);
}
[class^="container"] {
    width: min(1400px, calc(100% - 40px));
    max-height: 100%;
    margin: 0 auto;
}

.slider, .slider .container {
    position: relative;
}
.slider--sm {
    --height: 250px;
    height: var(--height);
}
.slides {
    height: var(--height);
}
.slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
}
.slider__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    gap: 5px;
}
.slider__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider__button {
    padding: 2px 20px;
    background: var(--black-opsy);
    font-size: 20px;
    color: var(--white);
    display: flex;
    align-items: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    align-self: start;
}
.slider__button:hover {
    background: var(--accent-opsy-7);
}
.slider__button:active {
    background: var(--accent-opsy);
}
.slider__nav {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}
.slider__nav .dot {
    display: block;
    width: 50px;
    height: 6px;
    background: var(--black-opsy);
    cursor: pointer;
}
.slider__nav .dot.tns-nav-active {
    background: var(--accent-opsy-7);
}

.filter {
    display: flex;
    align-items: center;
    gap: 10px;
}
[class^="grid"] {
    display: grid;
}
.grid-4 {
    gap: 10px;
}

.badge {
    height: 200px;
    background: var(--primary);
    color: var(--black);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.badge:hover {
    box-shadow: var(--shadow);
}
.badge:active {
    box-shadow: var(--shadow-active);
}
.badge__title {
    position: relative;
}
.badge::before {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 40%;
    height: calc(100% - 4px);
    background: var(--white);
    clip-path: polygon(0 0, 100% 0, 50% 100%, 0 100%);
    border-top-left-radius: 18px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.card__body {
    position: relative;
    height: 250px;
    overflow: hidden;
}
.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
.card:hover .card__image {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.card__footer {
    display: grid;
    gap: 3px;
    background: var(--primary);
    padding: 10px;
    flex-grow: 1;
}
.card__tag {
    font-size: var(--font-sm);
    background: var(--black-opsy);
    width: fit-content;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-sm);
    -webkit-border-radius: var(--radius-sm);
    -moz-border-radius: var(--radius-sm);
    -ms-border-radius: var(--radius-sm);
    -o-border-radius: var(--radius-sm);
}

.article__box {
    display: grid;
    gap: var(--section-padding);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.article__image {
    width: 100%;
}
.article__col {
    display: flex;
    gap: var(--section-padding);
    flex-direction: column;
    align-items: center;
}
.fw-panel {
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-sm);
    -webkit-border-radius: var(--radius-sm);
    -moz-border-radius: var(--radius-sm);
    -ms-border-radius: var(--radius-sm);
    -o-border-radius: var(--radius-sm);
}
.modal {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black-opsy);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal.active {
    visibility: visible;
}
.modal__content {
    width: min(500px, calc(100% - 40px));
    display: flex;
    flex-direction: column;
    background: var(--white);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    opacity: 0;
    top: -40px;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    -moz-transition: transform 0.3s ease;
    -ms-transition: transform 0.3s ease;
    -o-transition: transform 0.3s ease;
}

.modal.active .modal__content {
    opacity: 1;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
}
.modal__header {
    padding: 10px 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal__close {
    padding: 0;
}
.modal__body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal__input {
    height: 30px;
}
.modal__button {
    height: 30px;
    align-self: center;
    background: var(--primary);
    color: var(--white);
    padding: 5px 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.modal__button:hover {
    box-shadow: var(--shadow);
}
.modal__button:active {
    box-shadow: var(--shadow-active);
}
.scrolltop-button {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 10;
    bottom: calc(var(--header-h) + 10px);
    right: 15px;
    padding: 10px;
    background: var(--accent);
    color: var(--white);
    border: none;
    box-shadow: var(--shadow);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.feedback-button {
    position: fixed;
    z-index: 10;
    bottom: calc(var(--header-h) + 10px);
    left: 15px;
    padding: 10px 20px;
    background: var(--accent);
    color: var(--white);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: none;
    box-shadow: var(--shadow);
}
.scrolltop-button:hover, .feedback-button:hover {
    background: var(--accent-opsy-7);
}
.scrolltop-button:active, .feedback-button:active {
    background: var(--accent-opsy-8);
    box-shadow: var(--shadow-active);
}
.feedback__menu {
    width: 100%;
    position: absolute;
    bottom: calc(100% + 5px);
    padding: 10px;
    background: var(--accent);
    color: var(--white);
    display: none;
    flex-direction: column;
    gap: 10px;
    border-radius: var(--radius-sm);
}
.feedback__menu.active {
    display: flex;
}
.feedback__link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.feedback__link:hover {
    color: var(--primary);
}
.footer {
    width: 100%;
    height: calc(var(--header-h)*2);
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__copyryght {
    color: var(--white);
}
/* UI */
i {
    font-size: 1.8em;
}
input {
    width: 100%;
    padding: 0 10px;
    border: 2px solid var(--black);
}
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--black);
    resize: none;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.button {
    --height: 30px;
    height: var(--height);
    padding: 0 calc(var(--height) * 0.6);
    background: transparent;
    border: 2px solid var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--height)/2);
    -webkit-border-radius: calc(var(--height)/2);
    -moz-border-radius: calc(var(--height)/2);
    -ms-border-radius: calc(var(--height)/2);
    -o-border-radius: calc(var(--height)/2);
}
.button:hover {
    border-color: var(--accent-opsy-7);
    background: var(--accent-opsy-7);
    color: var(--white);
}
.button:active {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--white);
}
.button.active {
    border-color: var(--accent);
    background: var(--accent);
    color: var(--white);
}
.button--nulled {
    padding: 0;
    background: transparent;
    outline: none;
    border: none;
}
.button--nulled:hover {
    background: var(--black-opsy);
}
.button--nulled:active {
    padding: 0;
    background: transparent;
}
/* Modificators */
.hidden {
    display: none;
}
[class*="--f-bc"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.--align-top {
    align-items: start;
}

.header {
    flex-shrink: 0;
    height: var(--header-h);
    width: 100%;
    position: fixed;
    z-index: 11;
    bottom: 0;
    background: var(--white);
    border-bottom: 1px solid var(--grey);
    background-image: var(--bg-gradient);
}
.logo {
    height: var(--header-h);
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.nav {
    position: fixed;
    z-index: 12;
    top: 0;
    left: 100%;
    width: min(500px, 100%);
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    gap: 10px;
    background: var(--white);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border-left: 2px solid var(--grey);
}
.nav.active {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
.nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    font-size: var(--font-lg);
    padding: 10px 20px;
}
.nav__header {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: var(--bg-gradient);
}
.nav__logo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    font-size: var(--font-xxl);
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px;
}
.nav__link {
    border-bottom: 2px solid transparent;
}
.nav__link:hover {
    border-color: var(--black);
}
.nav__link.active {
    border-color: var(--black);
}
/* Promo */

.promo {
    --height: calc(100vh - var(--header-h) - 50px);
    padding: 0;
    margin-bottom: var(--section-padding);
    background: var(--accent);
    color: var(--white);
    position: relative;
    overflow: hidden;
    height: var(--height);
}
.promo--sm {
    --height: 400px;
}
.promo__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}
.promo__content.--align-top {
    align-items: start;
    padding-top: calc(var(--section-padding) * 5);
}
.promo__title {
    position: relative;
    width: max-content;
    max-width: 100%;
    padding: 0 10px;
    position: relative;
    font-size: var(--font-xxl);
    color: var(--primary-darken);
    backdrop-filter: blur(10px);
    display: grid;
    gap: calc(var(--section-padding)*3);
}
.promo__overtitle {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--black);
}
.promo__title img {
    height: 60px;
}
.promo__slider {
    height: var(--height);
    width: 100%;
    position: absolute;
}
.promo__slider .slides {
    height: 100%;
}
.promo__slider .slide {
    height: var(--height);
}
.promo__slider img {
    height: 100%;
    object-fit: cover;
}
.promo__slide-title {
    width: 100%;
    display: block;
    text-align: center;
    font-size: var(--font-xl);
    position: absolute;
    z-index: 3;
    bottom: calc(var(--header-h) + 50px);
    background: var(--black-opsy);
    padding: 3px 10px;
    margin: 0 auto;
}
.promo .slider__buttons {
    position: absolute;
    bottom: 50px;
    left: 10px;
}
.promo__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.review {
    margin: 10px;
    padding: 10px;
    box-shadow: var(--shadow);
    border-radius: var(--radius-sm);
    -webkit-border-radius: var(--radius-sm);
    -moz-border-radius: var(--radius-sm);
    -ms-border-radius: var(--radius-sm);
    -o-border-radius: var(--radius-sm);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.review__autor {
    font-weight: 700;
}

@media(min-width: 576px) {

}
@media(min-width: 768px) {
    :root {
        --font-xxl: 40px;
        --font-xl: 30px;
        --font-lg: 24px;
    }
    .promo__buttons {
        flex-direction: row;
    }
    .promo .slider__buttons {
        bottom: 50px;
        left: 50px;
    }

    .slider__nav .dot {
        width: 60px;
    }
    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .feedback-button {
        left: 50px;
        bottom: 40px;
    }
    .scrolltop-button {
        right: 50px;
        bottom: 40px;
    }
}
@media(min-width: 992px) {
    :root {
        --header-h: 80px;
        --font-xxl: 60px;
        --font-xl: 40px;
        --font-lg: 24px;
        --section-padding: 20px;
    }
    .header {
        top: 0;
        bottom: unset;
    }
    .nav__logo {
        bottom: 0;
        top: unset;
    }
    main {
        padding-top: var(--header-h);
        padding-bottom: 0;
    }
    .nav {
        flex-direction: column;
    }
    .grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width: 1200px) {
    .grid-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media(min-width: 1400px) {
    
}