:root {
    --primary: #5CB1D4;
    --primary-opacity: rgba(92, 176, 212, 0.2);
    --accent: teal;
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --grey: #ccc;

    --header-h: 100px;
}